body {
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
    background-color: $primary-backgroundGrey;
}

.btn {
    background-color: $primary-darkgrey; 
    color: white;
    width: 90%;
    max-width: 200px;
}

button {
    cursor: pointer;
}

a {
    color:unset;
    text-decoration: unset;
}

a:hover {
    color:unset;
}