#signupContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-backgroundGrey;

    #frmSignup {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     

        h1 {
            margin-bottom: 15px;
        }

        input {
            width: 90%;
            max-width: 500px;
            padding: 10px 5px;
            margin-top: 10px;
        }

        #btnSignup {
            margin-top: 20px;
        }
    }
}

#msgSignupError { 
    margin: 0;
    margin-bottom: 10px;
    color: red;
    }